@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 30 5% 8%;
    --foreground: 38 18% 91%;

    --card: 30 5% 10%;
    --card-foreground: 38 18% 91%;

    --popover: 30 5% 10%;
    --popover-foreground: 38 18% 91%;

    --primary: 38 18% 91%;
    --primary-foreground: 30 5% 8%;

    --secondary: 30 5% 14%;
    --secondary-foreground: 38 18% 91%;

    --muted: 30 5% 14%;
    --muted-foreground: 35 8% 52%;

    --accent: 30 5% 14%;
    --accent-foreground: 38 18% 91%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 38 18% 91%;

    --border: 30 5% 17%;
    --input: 30 5% 17%;
    --ring: 35 12% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

